@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kumbh+Sans:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 75%, 39%) ;
  min-height: 100svh;
  padding: 2rem;
  gap: 6rem;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background: url(./images/bg-pattern-card.svg);
  min-height: 375px;
  width: 100%;
  max-width: 375px;
  overflow: hidden;
}

img{
  width: 100px;
  border-radius: 100%;
  /* transform: translateY(50%); */
  translate: 0 50%;
  border: 5px solid white;
  margin-top: 3rem;
}

.followers{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* gap: 2rem; */
  background: white;
  min-height: 230px ;
  width: 100%;
  padding: 1rem 0;
}
.div-1{
  display: block;
  text-align: center;
  width: 100%;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid hsla(227, 10%, 46%, 0.123);
}
.div-2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  color: hsl(229, 23%, 23%);
}
#Victor{
  font-size: 18px;
  font-weight: 700;
  font-family: "Kumbh Sans";
}
/* #Victor>p>span{
  font-family: "Kumbh Sans";
  font-weight: 700;
} */

.london{
  color: hsl(227, 10%, 46%);
  font-family: "Kumbh Sans";
  font-size: 15px;
  margin: 10px;
}

.div-1>p>span{
  font-size: 18px;
  font-weight: 400;
  font-family:"Kumbh Sans";
  color: hsl(227, 10%, 46%);
}

.div-2>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.9rem 1.5rem;
  text-align: center;
  /* gap: 0.2rem; */
  font-family:"Kumbh Sans";
  font-weight: 700;
}

.div-2>div>span{
  font-family:"Kumbh Sans";
  font-weight: 400;
  font-size: 10px;
  color: hsl(0, 0%, 59%);
}